@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Shippori Mincho", cursive;
    background-image: url(fireworks.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    color: white;
    font-size: 4rem;
    margin-top: -400px;
}

.big-text{
    color: white;
    font-size: 6rem; 
    line-height: 1;
    margin: 0 2rem;
}

.coutdown__container{
    display: flex;
}

.coutdown__elements{
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

@media screen and (max-width: 668px){
    .coutdown__container{
        flex-direction: column;
        margin-top: 300px;
    }
}